/*-----start reset CSS----*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 400 !important;
    color:#fff !important;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul, ul li {
    list-style:none;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    text-decoration: none !important;
}

/*------ end reset css ------*/
/*---start common color--*/
.gray, .black, .green, .blue, .purple {background:#d90445;color:#fff;}
.black {background: #000;}
.green {background: #58b600;}
.blue {background: #1a54e7;}
.purple {background: #8200b2;}
/*---end common color--*/
/*----- start header CSS -----*/
.header {background:#1a54e7 !important;}
.navbar .navbar-collapse {
    background: #fff;
}
.bg-light {
    background-color:transparent !important;
}
.navbar {
     padding:0px;
}
.navbar-light .navbar-brand {
    color:#fff;
}
.navbar-brand {
    padding-top:0px; 
    padding-bottom:0px;
    font-size:24px;
    font-weight: 900;
}
.navbar-light .navbar-nav .nav-link {
    color: #1a54e7 !important;
    font-size: 18px !important;
    transition: all 0.4s;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link:hover {
    color:#222 !important;
    border-bottom: 3px solid #1a54e7 !important;
}
.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color:inherit;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0px;
    padding-left: 0px;
    margin-left: 13px;
    margin-right: 13px;
}
.nav-link {
    padding:20px 0px;
}
/*----- end header CSS -----*/

/*--------start banner css ------*/
.banner {background:url('../img/slider1.png'); background-repeat: no-repeat; background-size: cover; background-position: center center;padding:100px 0px;}

.banner_content p.paragraph {font-size:32px; color:#fff; line-height: 1.2;max-width: 650px; margin:50px auto;}
.banner_content p.date span {
    color: #b0b0b0;
    font-size: 14px;
}
.banner_content p.date a {
    color: #1a54e7;
    padding-left: 10px;
    border-left: 1px solid #c5c5c5;
    text-decoration: underline !important;
}
/*--------end banner css ------*/

/*----start single column blog css--*/
.single_column_blog {margin-top:40px;}
.single_col_blog_box {background:url('../img/blogimg9.png'); background-size:auto;background-repeat: no-repeat;background-position: center center; padding:200px 0px 20px;}
.single_col_blog_box h2 {font-size: 48px;color:#fff;}
.single_col_blog_box p.para, .single_col_blog_box p.para2 {font-size: 17px; color: #fff;line-height:2;}
.single_col_blog_box p.para2 {padding-bottom: 20px;}
.single_col_blog_box h4 {font-size:18px;padding:10px 15px;display:table;}
.single_col_blog_box p.date {float: right;padding:15px 30px 0px 0px;}
/*----end single column blog css--*/

/*----start three column blog css--*/
.three_col_blog {margin:50px 0px 90px;}
.mt40 {margin-top: 40px;}
/*----end three column blog css--*/
/*------ start two column blog css ------*/
.two_col_blog {background: #f6f6f6; padding: 50px 0px 50px;}
.blog_content {}
.blog_img {position: relative;}
.blog_img img {display: inherit;}
.blog_img h4 {font-size:18px;padding:10px 15px;display: inline-block;position: absolute;top:70%;left: 0;}
.blog_box {padding:20px 0px 10px;}
.blog_box p.para {color:#000; font-size:18px;padding-bottom: 12px;line-height:1.5;font-weight: 600;}
.blog_box p span, .single_col_blog_box p.date span  {color:#b0b0b0; font-size: 14px; padding-right:8px;}
.blog_box p a, .single_col_blog_box p.date a {color:#1a54e7;padding-left: 10px;border-left: 1px solid #c5c5c5; text-decoration: underline !important;} 
/*------ start two column blog css ------*/

/*------ start newsletter css ------*/
.newsletter {background:url(../img/newsletter_bg.jpeg);background-size: cover; background-repeat: no-repeat;background-position: center center;position: relative;}
.newsletter::before {content: '';position: absolute;top:0;right:0;width:100%;height: 100%;background:#00f;opacity: 0.7;}
.newsletter_content {padding:90px 0 130px;}
.newsletter_content h3 {font-size: 48px;color:#fff;}
.newsletter_content p {font-size: 24px; color:#8baeff;padding-bottom: 35px;}

.search_form .form-control {
    background:#2c6cff !important;
    border-radius: 50px !important;
    margin-right: 0 !important;
    width: 400px !important;
    height: 50px !important;
    line-height: 50px !important;
    padding-left:20px !important;
    padding-right:0px !important;
    border:none !important;
}
.search_form .form-control:focus {
    color: #ced4da !important;
    background-color:#2c6cff!important;
    border-color: none !important;
    outline: none !important ;
    box-shadow: 0 0 0 0 !important;
}
.search_form {
    position:relative;
    display: table;
    margin: auto;
}
.search_form .search {
    position: absolute;
    top: 50%;
    right:-16.4%;
    width:130px;
    height: 50px;
    background:#fff;
    border-radius: 50px;
    border: none;
    font-size: 18px;
    padding:0px;
    color:#1a54e7;
    cursor: pointer;
    transform:translate(-50%, -50%);
} 
button:focus {
    outline: none;
}
/*------ end newsletter css ------*/

/*------ start footer css ------*/
.footer_content {padding:80px 0px;}
.footer_content p {font-size: 16px; color:#a7acbc;line-height: 1.5;}
.footer_content p a {color:#ccc;font-size: 18px;font-weight:600;}
/*------ end footer css ------*/








